:host {
  display: block;
  padding: var(--content-padding);
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.modified {
  padding: 0.25rem;
  background: rgb(47, 45, 71);
  color: #c5c5c5;
  border-radius: 0.5rem;
}
