@font-face {
  font-family: "roboto";
  src: url("/assets/font/RobotoCondensed-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("/assets/font/RobotoCondensed-Italic-VariableFont_wght.ttf");
  font-style: italic;
  font-display: swap;
}
